block content
    form.form.needs-validation#skillForm(method="POST" action=`/feedback/${feedback.id}/api` novalidate)
        input(type="hidden", name="_method",  value="PUT")
        input(type="hidden", name='_csrf',value=csrfToken)
        input(type="hidden", name='feedback[id]',value=feedback.id)
        include ./_form.pug




