extends ../layout

block content
    .row
        .col
            h2 New Survey
            form.form.needs-validation(method="POST" action="/survey" novalidate)
                input(type="hidden", name='_csrf',value=csrfToken)
                include ./_form.pug
append styles
    link(rel='stylesheet' href='https://cdn.datatables.net/1.13.8/css/dataTables.bootstrap5.min.css')
    link(rel='stylesheet' href='https://cdn.datatables.net/responsive/2.5.0/css/responsive.dataTables.min.css')
    link(rel='stylesheet' href='https://cdn.datatables.net/fixedheader/3.4.0/css/fixedHeader.dataTables.min.css')
    link(rel='stylesheet' href='https://cdn.datatables.net/rowreorder/1.4.1/css/rowReorder.dataTables.min.css')

append scripts
    script(src='https://cdn.datatables.net/1.13.8/js/jquery.dataTables.min.js')
    script(src="https://cdn.datatables.net/1.13.8/js/dataTables.bootstrap5.min.js")
    script(src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js")
    script(src="https://cdn.datatables.net/fixedheader/3.4.0/js/dataTables.fixedHeader.min.js")
    script(src="https://cdn.datatables.net/rowreorder/1.4.1/js/dataTables.rowReorder.min.js")
    script(src="https://cdn.datatables.net/responsive/2.5.0/js/responsive.bootstrap5.min.js")
    script(src='/javascripts/validator.js')
    script(src='/javascripts/data-table.js')
    script.
        $(function(){
             $('.select2').select2({
                theme:'bootstrap-5',
                minimumResultsForSearch: 6,
                width:'resolve'
            });
            $('[data-bs-toggle="tooltip"]').tooltip();
        });
