extends ../layout

include ../partials/editor

block content
    .row
        .col
            h2 Edit Question
            form.form.needs-validation#questionForm(method="POST" action="/question/" + question.id novalidate)
                input(type="hidden", name="_method",  value="PUT")
                input(type="hidden", name='_csrf',value=csrfToken)
                input(type="hidden", name='question[id]',value=question.id)
                include ./_form.pug

append scripts
    script(src='/javascripts/templates/question/questionPreview.js')
    script(src='/javascripts/templates/survey/signupsList.js')
    script(src='/javascripts/validator.js')
    script(src='/javascripts/question.js')
