extends ../layout

include ../partials/editor

block content
    .row
        .col
            h2 New Question
            form.form.needs-validation(method="POST" action="/question" novalidate)
                input(type="hidden", name='_csrf',value=csrfToken)
                include ./_form.pug

append scripts
    script(src='/javascripts/validator.js')
    script.
        $(function(){
             $('.select2').select2({
                theme:'bootstrap-5',
                minimumResultsForSearch: 6,
                width:'resolve'
            });
            $('[data-bs-toggle="tooltip"]').tooltip();
        });
