extends ../layout

include ../partials/editor

block content
    .row
        .col
            h2 New Question
            form.form.needs-validation#questionForm(method="POST" action="/question" novalidate)
                input(type="hidden", name='_csrf',value=csrfToken)
                include ./_form.pug

append scripts
    script(src='/javascripts/templates/question/questionPreview.js')
    script(src='/javascripts/templates/survey/signupsList.js')
    script(src='/javascripts/validator.js')
    script(src='/javascripts/question.js')
