body, .popover {
    font-family: 'Open Sans', sans-serif;
}

.background-content {
    position: fixed;
    width:100%;
    height: 100vh;
    z-index: -1000;
}


@media only screen and (min-width: 576px){
    .overall {
      min-height:100vh
    }
 }

.btn-xs
{
    padding: 1px 5px !important;
    font-size: 12px !important;
    line-height: 1.5 !important;
    border-radius: 3px !important;
}

.bi-spin {
    display:inline-block;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

[aria-expanded="true"] .bi-chevron-up,
[aria-expanded="false"] .bi-chevron-down,
[aria-expanded="true"] .bi-plus,
[aria-expanded="true"] .bi-plus-lg,
[aria-expanded="false"] .bi-minus,
[aria-expanded="false"] .bi-minus-lg,
[aria-expanded="true"] .expand-text,
[aria-expanded="false"] .expand-text-shown {
    display:none;
}
